<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo" id='logo'>T247</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a (click)="logout()" href="">Logout</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a (click)="logout()" href="">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
  <div class="row" *ngIf="this.userEdit">
    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate"
          [(ngModel)]="userEdit.first_name" name="first_name">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate"
          [(ngModel)]="userEdit.last_name" name="last_name">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="enrollment" type="text" class="validate"
          [(ngModel)]="userEdit.enrollment" name="enrollment">
          <label for="enrollment">Enrollment</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate"
          [(ngModel)]="userEdit.email" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn" (click)="goBack()">Go Back</a>
      <button type="submit" class="btn btn-default">Edit</button>
    </form>
  </div>
</div>
