<app-site-navbar [showDropdown]="false" [currentRole]="''"></app-site-navbar>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <img src="./assets/img/screen.png">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">

      <div class="row">
        <h3>Welcome to Tutoring 24/7 </h3>
        <h4>Ready to learn some code?</h4>
        <br><br>
        <!--<form class="col-md-6">-->
        <div class="row" [class.hidden]="!failedLogin">
          <div class="alert alert-danger" role="alert">
            <strong>Login failed.</strong>
            Please verify your email and password.
          </div>
        </div>
        <div class="row" [class.hidden]="!serverError">
          <div class="alert alert-danger" role="alert">
            There seems to be a problem with our servers. Please try again later
          </div>
        </div>
        <div class="row">
          <div class="input-group">
            <span class="input-group-addon" id="user-email-input"><span class="glyphicon glyphicon-user"
                                                                        aria-hidden="true"></span></span>
            <input [(ngModel)]="user.email" class="form-control validate" id="email" placeholder="Email"
                   aria-describedby="user-email-input" type="email" (keypress)="eventHandler($event.keyCode)">
          </div>
        </div>

        <div class="row">
          <div class="input-group">
            <span class="input-group-addon" id="user-pass-input"><span class="glyphicon glyphicon-lock"
                                                                       aria-hidden="true"></span></span>
            <input [(ngModel)]="user.password" class="form-control validate" id="password" placeholder="Password"
                   aria-describedby="user-pass-input" type="password" (keypress)="eventHandler($event.keyCode)">
          </div>
        </div>
          <br><br>
        <span>{{errorMsg}}</span>
        <button (click)="login()" id="login" class="btn waves-effect waves-light btn #4a148c purple darken-4 right"
                type="submit" name="action" >Login
        </button>
      </div>
    </div>
  </div>
    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#firstLoginModal">Open Modal</button>

  <!-- first time log in modal -->
  <div class="modal fade" id="firstLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
            aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Please fill the missing information</h4>
        </div>
        <div class="modal-body">
          <app-first-login></app-first-login>
        </div>
      </div>
    </div>
  </div>


</div>
