<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bit by Bit</a>
    </div>
  </div>
</nav>

<div class="container main">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <img src="./assets/img/screen.png">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

      <div class="row">
        <h3>Welcome to Tutoring 24/7 </h3>
        <h4>Ready to learn some code?</h4>
        <br><br>

        <div class="row">
          <div class="input-group">
            <span class="input-group-addon" id="user-email-input"><span class="glyphicon glyphicon-user"
                                                                        aria-hidden="true"></span></span>
            <input [(ngModel)]="user.email" class="form-control" id="email" placeholder="Email"
                   aria-describedby="user-email-input" type="email" class="validate">
          </div>
        </div>

        <div class="row">
          <div class="input-group">
            <span class="input-group-addon" id="user-pass-input"><span class="glyphicon glyphicon-lock"
                                                                       aria-hidden="true"></span></span>
            <input [(ngModel)]="user.password" class="form-control" id="password" placeholder="Password"
                   aria-describedby="user-pass-input" type="password" class="validate">
          </div>
        </div>

        <a href=""><h6>Forgot your password?</h6></a>
        <br><br>
        <span>{{errorMsg}}</span>
        <button (click)="login()" class="btn waves-effect waves-light btn #4a148c purple darken-4 right"
                type="submit" name="action">Login
        </button>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Implement the footer -->
<!--<footer class="page-footer N/A transparent">-->
<!--<div class="footer-copyright N/A transparent">-->
<!--<div class="container" id="footer">-->
<!--<img src="styles/tec.png" class="right">-->
<!--</div>-->
<!--</div>-->
<!--</footer>-->
