<h2 class="mainTitle">Create New Problem</h2>

<!-- DIV WRAPPING THE FORM -->
<div *ngIf="!testCasesReady" class="container mainWrapper z-depth-2">

  <form class="col s12" [formGroup]="createProblemForm" (ngSubmit)="evaluteTestCases()">

    <div formGroupName="problemDetails">
      <!-- Problem name -->
      <div class="row">
        <div class="input-field col s10 offset-s1 firstInput">
          <input id="problem_name" formControlName="problemName" type="text">
          <label for="problem_name">Name of problem</label>
        </div>
      </div>

      <!-- Descriptions -->
      <div class="row">
        <div class="col s12">
          <div class="input-field col s5 offset-s1">
            <textarea id="desc_eng" formControlName="engDescription" class="materialize-textarea"></textarea>
            <label for="desc_eng">Problem description: English</label>
          </div>
          <div class="input-field col s5">
            <textarea id="desc_spn" formControlName="spnDescription" class="materialize-textarea"></textarea>
            <label for="desc_spn">Problem description: Spanish</label>
          </div>
        </div>
      </div>

      <!-- Limits -->
      <div class="row">
        <div class="col s12">

          <div class="input-field col s5 offset-s1">
            <input id="memory_limit" formControlName="memoryLimit" type="number">
            <label for="desc_eng">Memory limit (MB)</label>
          </div>

          <div class="input-field col s5">
            <input id="time_limit" formControlName="timeLimit" type="number">
            <label for="desc_spn">Time limit (Milliseconds)</label>
          </div>

        </div>
      </div>

      <!-- Language and difficulty -->
      <div class="row">
        <div class="col s12">

          <div class="input-field col s5 offset-s1">
            <select id="langSelector">
              <option *ngFor="let lang of supportedLanguages" [value]="lang.value">{{lang.name}}</option>
            </select>
            <label>Solution language</label>
          </div>

          <div class="input-field col s5">
            <select>
              <option *ngFor="let diff of difficulties" [value]="diff">{{diff}}</option>
            </select>
            <label>Problem difficulty</label>
          </div>

        </div>
      </div>

    </div>

    <div class="center-align margin-top20">
      <a (click)="problemTypeFlag = 1" class=" margin-right20 waves-effect waves-light btn-large">Full
        body problem</a>
      <a (click)="problemTypeFlag = 2" class="z-depth-1 waves-effect waves-light btn-large">Function problem</a>
    </div>

    <!-- This section is used to upload the problem's files -->
    <div id="problem-file-upload">
      <div [ngSwitch]="problemTypeFlag">

        <div *ngSwitchCase="1">
          <div class="row">
            <div class="section col s10 offset-s1 margin-top20">
              <br>

              <div formGroupName="problemSourceFull">
                <div class="input-field col s12">
                  <textarea id="full_problem_code" formControlName="code" class="materialize-textarea"></textarea>
                  <label for="full_problem_code">Source code:</label>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div *ngSwitchCase="2">
          <div class="row">
            <div class="section col s10 offset-s1 margin-top20">
              <br>

              <div formGroupName="problemSourceFunction">

                <div class="input-field col s12">
                  <textarea id="first_half_code" formControlName="firstHalf" class="materialize-textarea"></textarea>
                  <label for="first_half_code">First half of source code</label>
                </div>

                <div class="input-field col s12">
                  <textarea id="function_code" formControlName="functionCode" class="materialize-textarea"></textarea>
                  <label for="function_code">Function code</label>
                </div>

                <div class="input-field col s12">
                    <textarea id="second_half_code" formControlName="secondHalf"
                              class="materialize-textarea"></textarea>
                  <label for="second_half_code">Second half of source code</label>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- This section renders the TestCases component -->
    <div *ngIf="problemTypeFlag != 0" id="testcases-section">
      <app-test-cases-creator [(testcaseslist)]="problemTestCases"></app-test-cases-creator>
    </div>


    <div class="center-align margin-top20">
      <button [disabled]="!createProblemForm.valid" type="submit" class=" btn waves-effect waves-light btn-large">
        Check Test Cases <i class="material-icons right">done</i>
      </button>
    </div>

  </form>

</div>
<!-- DIV WRAPPING THE FORM -->

<div style="margin-bottom: 100px;" class="container grey darken-1" *ngIf="testCasesReady">

  <div class="row">
    <div class="col s10 offset-s1">
      <ul class="collection margin-top50 with-header z-depth-2">

        <li class="collection-header blue">
          <h5 class="white-text">Test Case number: {{testCaseIndex}}</h5>
        </li>

        <div class="collection-item">

          <div class="row margin-top20">
            <div class="input-field col s12">
              <p>Input:</p>
              <p>{{selectedTestCase.content}}</p>
            </div>
          </div>

          <div class="row margin-top20">
            <div class="input-field col s12">
              <p>Output:</p>
              <p>{{selectedTestCase.output}}</p>
            </div>
          </div>

          <div class="row margin-top20">
            <div class="input-field col s12">
              <textarea [(ngModel)]="selectedTestCase.feedback" class="materialize-textarea"></textarea>
              <label>Feedback for this test case:</label>
            </div>
          </div>


          <div class="row margin-top20">
            <div class="center-align">
              <p>Add test case to description</p>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" [(ngModel)]="selectedTestCase.onDescription">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>
          </div>

        </div>

      </ul>
    </div>
  </div>

  <div class="center-align margin-top20">

    <button (click)="previousTestCase()" class="btn margin-bottom50 waves-effect waves-light btn-large">
      Previous <i class="material-icons right">fast_rewind</i>
    </button>

    <button (click)="createProblemRequest()" class=" btn margin-bottom50 waves-effect waves-light btn-large">
      Submit problem <i class="material-icons right">send</i>
    </button>

    <button (click)="nextTestCase()" class="btn margin-bottom50 waves-effect waves-light btn-large">
      Next <i class="material-icons right">fast_forward</i>
    </button>

  </div>

</div>
