<!-- This HTML displays a fragment of the Create problem form, here you can upload up to three different files one file  -->

<div class="section" style="margin-top: 20px;">

  <!-- FIRST HALF OF PROBLEM UPLOAD-->
  <h6 class="left-align">Please select the first half of the problem</h6>
  <br>

  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <!-- FUNCTION UPLOAD -->
  <h6 class="left-align">Please select the function part of the problem</h6>
  <br>

  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

  <!-- SECOND HALF OF PROBLEM UPLOAD-->
  <h6 class="left-align">Please select the second half of the problem</h6>
  <br>

  <div class="file-field input-field">
    <div class="btn">
      <span>File</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" type="text">
    </div>
  </div>

</div>
