<div class="row">
  <div class="col s10 offset-s1">

    <div *ngIf="testcaseslist.length == 0" class="center-align">
      <button (click)="addTestCase()" class="btn waves-effect waves-light">
        Add new test case
        <i class="material-icons right">add</i>
      </button>
    </div>


    <div style="margin-bottom: 50px;" *ngFor="let testcase of testcaseslist; let idx = index; let last = last;">

      <ul class="collection with-header z-depth-4">

        <li class="collection-header" [ngClass]="{'red': testcase.status !== 'successful run', 'blue': testcase.status === 'successful run'}">
          <h5 *ngIf="testcase.status === 'successful run'" class="white-text">Test Case number: {{idx + 1}}</h5>
          <h5 *ngIf="testcase.status !== 'successful run'" class="white-text">Test Case number: {{idx + 1}} - Error: {{testcase.status}}</h5>
        </li>

        <div class="collection-item">
          <div class="row">
            <div class="input-field col s12">
              <label>Input for this test case:</label>
              <textarea [(ngModel)]="testcase.content" class="materialize-textarea"></textarea>
            </div>
          </div>
        </div>

        <div class="collection-item" style="margin-top: 10px">
          <div class="row">
            <div class="center-align">
              <p>Add test case to description</p>
              <div class="switch">
                <label>
                  Off
                  <input type="checkbox" [(ngModel)]="testcase.onDescription">
                  <span class="lever"></span>
                  On
                </label>
              </div>
            </div>

            <div class="right-align">
              <a (click)="deleteTestCase(idx)" class="waves-effect waves-teal btn-flat">
                <i class="material-icons">delete</i>
              </a>
            </div>

          </div>
        </div>

      </ul>

      <div *ngIf="last" class="center-align">
        <button (click)="addTestCase()" class="btn waves-effect waves-light z-depth-4">
          Add new test case
          <i class="material-icons right">add</i>
        </button>
      </div>

    </div>


  </div>

</div>
