<app-site-navbar [availableRoles]="" [hideDropdown]="true"  [actualRole]="" (callLogout)="logout()"></app-site-navbar>

<div class="container">
  <div class="row" *ngIf="!editingProfile">
    <div class="col s12">
      <div class="row">
        <div class="col s2 offset-s10">
          <a class="waves-effect waves-light btn" (click)="editProfile()"><i class="material-icons">edit</i></a>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Nombre</label>
          <h4>{{user.first_name}}</h4>
        </div>
        <div class="col s6">
          <label>Apellido</label>
          <h4>{{user.last_name}}</h4>
        </div>
      </div>
      <div class="row">
        <div class="col s6">
          <label>Email</label>
          <h4>{{user.email}}</h4>
        </div>
      </div>
    </div>
    <a class="waves-effect waves-light btn" (click)="goBack()">Go Back</a>
  </div>
  <div class="row" *ngIf="editingProfile">
    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate"
          [(ngModel)]="user.first_name" name="first_name">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate"
          [(ngModel)]="user.last_name" name="last_name">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="enrollment" type="text" class="validate"
          [(ngModel)]="user.enrollment" name="enrollment">
          <label for="enrollment">Enrollment</label>
        </div>
        <div class="input-field col s6">
          <input id="email" type="email" class="validate"
          [(ngModel)]="user.email" name="email">
          <label for="email">Email</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn" (click)="cancelEdit()">Cancel</a>
      <button type="submit" class="btn btn-default">Edit</button>
    </form>
  </div>
</div>
