<app-site-navbar [showDropdown]="true" [currentRole]="''"></app-site-navbar>

<div class="container">
    <div class="row" *ngIf="!editingProfile">
        <div class="col s12">
            <div class="row">
                <div class="col s2 offset-s10">
                    <a class="waves-effect waves-light btn" (click)="editProfile()"><i
                            class="material-icons">edit</i></a>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="">

                        <div class="card hovercard">
                            <div class="cardheader">

                            </div>
                            <div class="avatar">
                                <img alt=""
                                     src="https://cdn2.iconfinder.com/data/icons/social-flat-buttons-3/512/anonymous-512.png">
                            </div>
                            <div class="info">
                                <div class="title">
                                    {{user.first_name}}
                                </div>
                                <div class="desc"><strong>Last Name:</strong> {{user.last_name}}</div>
                                <div class="desc"><strong>Enrollment ID:</strong> {{user.enrollment}}</div>
                                <div class="desc"><strong>Email:</strong> {{user.email}}</div>
                                <div class="desc"><strong>Geeky Programmer</strong></div>
                                <!-- If you happen to see this, and currently are taking a course with professor Luis Humberto. Go and
                                ask him about the extra points he now owes you!-->
                            </div>

                        </div>

                    </div>

                </div>
            </div>
            <button class="waves-effect waves-light btn btn-primary pull-right btn-edit" data-toggle="modal"
                    data-target="#usersFormModal">Edit Profile
            </button>
            <button class="btn btn-primary pull-right" (click)="goBack()">Go Back</button>
        </div>
    </div>

</div>
<div class="modal fade" id="usersFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form [formGroup]="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Edit User</h4>
                </div>
                <div class="modal-body" formGroupName="user">
                    <div class="form-group">
                        <label for="first_name">First Name</label>
                        <input id="first_name" type="text" class="form-control validate" formControlName="first_name"
                               [(ngModel)]="user.first_name" name="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last Name</label>
                        <input id="last_name" type="text" class="form-control validate" formControlName="last_name"
                               [(ngModel)]="user.last_name" name="last_name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input id="email" type="email" class="form-control validate" formControlName="email"
                               [(ngModel)]="user.email" name="email">
                    </div>
                    <div class="form-group">
                      <label for="password_i">Password</label>
                      <input id="password_i" type="password" class="form-control validate" formControlName="password"
                             [(ngModel)]="user.password" name="password">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button *ngIf="form.valid" type="submit" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Submit</button>
                    <button *ngIf="form.invalid" type="submit" class="btn btn-primary" disabled="disabled">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
