<div class="navbar-container">
  <app-site-navbar [hideDropdown]="true"></app-site-navbar>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>Group: {{group.period}}</h3>
      <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#groupFormModal">
        Edit
      </button>
      <hr/>

      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#assignmentFormModal">
                New Assignment
              </button>
            </div>
            <!--
            <div class="two columns">
              <i class="icon-ok-sign icon-2x icono-accept"></i>
              Accepted
            </div>
            <div class="two columns">
              <i class="icon-ok-sign icon-2x icono-timeout"></i>
              Attempted
            </div>
            <div class="two columns end">
              <i class="icon-remove-sign icon-2x icono-fail"></i>
              Not Attempted
            </div>
            -->
          </div>

          <div *ngFor="let assignment of group.assignments" class="panel-group" id="accordion" role="tablist"
               aria-multiselectable="true">
            <assignment [assignment]="assignment"></assignment>
          </div> <!--Accordions-->


        </div>
      </div>
    </div>

    <assignment-form [groupId]="group.id"></assignment-form>
    <group-form [group]="group" [action]="'edit'"></group-form>

  </div>

</div>
