.topic-box {
  white-space: nowrap;
  line-height: 100px;
  text-align: center;
  background-color: #673ab7;
  color: white;
  border-style: solid;
  border-width:1px;
  border-color: #ffffff;
}

.topic-box:hover {
  background-color: #b39ddb;
  cursor: pointer;
}

#logo {
  padding-left: 30px;
}

footer {
  align-content: right;
}

#footer {
  border-top: thin solid #000000;
}

#main {
  padding-top: 20px;
}

.bottom-space {
  padding-bottom: 10px;
}