<div class="row" *ngIf="typeForm == 'courses' ">
    <form class="col-sm-12" (ngSubmit)="onSubmitCourse()">
        <div class="row">
            <div class="input-field col-sm-6">
                <input id="nameCourse" type="text" class="validate"
                       [(ngModel)]="courseName" name="name">
                <label for="nameCourse">Name</label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>

<div class="row" *ngIf="typeOfForm == 'topics' ">
    <form class="col-sm-12" (ngSubmit)="onSubmitTopic()">
        <div class="row">
            <div class="input-field col-sm-6">
                <input id="nameTopic" type="text" class="validate"
                       [(ngModel)]="topicName" name="name">
                <label for="nameTopic">Name</label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>


<div class="row" *ngIf="typeForm == 'groups' ">
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#groupFormModal">
        New
    </button>
</div>

<div class="row" *ngIf="typeForm == 'users' ">
    <form class="col-sm-12" (ngSubmit)="onSubmitUser()">
        <div class="row">
            <div class="input-field col-sm-6">
                <input id="enrollmentUser" type="text" class="validate"
                       [(ngModel)]="user.enrollment" name="enrollmentUser">
                <label for="enrollmentUser">Enrollment</label>
            </div>
            <div class="input-field col-sm-6">
                <input id="first_name" type="text" class="validate"
                       [(ngModel)]="user.first_name" name="first_name">
                <label for="first_name">First Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-sm-6">
                <input id="last_name" type="text" class="validate"
                       [(ngModel)]="user.last_name" name="last_name">
                <label for="last_name">Last Name</label>
            </div>
            <div class="input-field col-sm-6">
                <select id="userRole" class="form-control"
                        [(ngModel)]="user.role" name="userRole">
                    <option value="admin">admin</option>
                    <option value="professor">professor</option>
                    <option value="admin">student</option>
                </select>
                <label for="userRole">Role</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-sm-6">
                <input id="email" type="email" class="validate"
                       [(ngModel)]="user.email" name="email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col-sm-6">
                <input id="password" type="password" class="validate"
                       [(ngModel)]="user.password" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Create</button>
    </form>
</div>

