<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Table of {{typeOfTableName}}</h1>
        </div>
    </div>


    <generic-form *ngIf="coursesBool" [typeForm]="'courses'" (formChange)="renderTable();"></generic-form>
    <generic-form *ngIf="topicsBool" [typeForm]="'topics'" (formChange)="renderTable();"></generic-form>
    <generic-form *ngIf="groupsBool" [typeForm]="'groups'"></generic-form>
    <generic-form *ngIf="usersBool" [typeForm]="'users'" (formChange)="renderTable();"></generic-form>


    <div class="center">
        <div id="custom-search-input">
            <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Search" #filterInput (keyup)="0"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngIf="usersBool">
            Roles:
            <button (click)="filterInput.value='student'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Student
            </button>
            <button (click)="filterInput.value='professor'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Professor
            </button>
            <button (click)="filterInput.value='admin'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Admin
            </button>
        </div>
    </div>
<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th *ngFor="let colName of columns">{{colName}}</th>
    </tr>
    </thead>
    <tbody *ngIf="problemsBool">
    <tr *ngFor="let entry of content | filterProblems: filterInput.value">
        <td>{{entry.value.name}}</td>
        <td *ngIf=" entry.value.difficulty == 0">Easy</td>
        <td *ngIf=" entry.value.difficulty == 1">Medium</td>
        <td *ngIf=" entry.value.difficulty == 2">Hard</td>
        <td>{{entry.value.topic}}</td>
        <td><button class="btn btn-default">{{entry.value.active}}</button></td>
        <td><button class="btn btn-default" (click)="onSelectProblem(entry.value)">Show</button></td>
        <td>delete</td>
    </tr>
    </tbody>
    <tbody *ngIf="assignmentsBool">
    <tr *ngFor="let entry of content | filterAssignments: filterInput.value ">
        <td><a class="btn btn-default" (click)="onSelectAssignment(entry.value)" role="button">Solve</a></td>
        <td>{{entry.value.title}}</td>
        <td>{{entry.value.problem_name}}</td>
        <td>{{entry.value.course_name}}</td>
        <td *ngIf=" entry.value.difficulty == 1">Easy</td>
        <td *ngIf=" entry.value.difficulty == 2">Medium</td>
        <td *ngIf=" entry.value.difficulty == 3">Hard</td>
        <td>{{entry.value.due_date}}</td>
        <td *ngIf="entry.value.max_grade == 100">Yeah</td>
        <td *ngIf="entry.value.max_grade != 100">Nop</td>
    </tr>
    </tbody>
    <tbody *ngIf="submissionsBool">
    <tr *ngFor="let entry of content | filterSubmissions: filterInput.value">
        <td>{{entry.value.name}}</td>
        <td>{{entry.value.no_of_attempts}}</td>
        <td *ngIf="entry.value.max_grade == 100">Yeah</td>
        <td *ngIf="entry.value.max_grade != 100">Nop</td>

    </tr>
    <tbody *ngIf="assignmentSubmissionsBool">
    <tr *ngFor="let entry of content">
        <td>{{entry.enrollment}}</td>
        <td>{{entry.date | date: 'dd/MM/yyyy'}}</td>
        <td>{{entry.no_of_attempts}}</td>
        <td *ngIf="entry.grade == 100">Yeah</td>
        <td *ngIf="entry.grade != 100">Nop</td>
    </tr>
    </tbody>
    <tbody *ngIf="groupsBool">
    <tr *ngFor="let entry of content | filterGroups: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.course.name}}</td>
        <td>{{entry.value.period}}</td>
        <td><a class="btn btn-default" (click)="onSelectGroup(entry.value)" role="button">Show</a></td>
        <td><a class="btn btn-default red" (click)="onDeleteGroup(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="usersBool">
    <tr *ngFor="let entry of content | filterUsers: filterInput.value">
        <td>{{entry.value.enrollment}}</td>
        <td>{{entry.value.first_name}}</td>
        <td>{{entry.value.last_name}}</td>
        <td>{{entry.value.role}}</td>
        <td><a class="btn btn-default" (click)="onSelectUser(entry.value)" role="button">Show</a></td>
        <td><a class="btn btn-default red" (click)="onDeleteUser(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="coursesBool">
    <tr *ngFor="let entry of content | filterCourses: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.name}}</td>
        <td><a class="btn btn-default" (click)="onSelectCourse(entry.value)" role="button">Edit</a></td>
        <td><a class="btn btn-default btn-danger" (click)="onDeleteCourse(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="topicsBool">
    <tr *ngFor="let entry of content | filterTopics: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.name}}</td>
        <td><a class="btn btn-default" (click)="onSelectTopic(entry.value)" role="button">Edit</a></td>
        <td><a class="btn btn-default btn-danger" (click)="onDeleteTopic(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
</table>

<div *ngIf="groupsBool">
    <group-form [group]="group" [action]="'create'"></group-form>
</div>
