<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Table of {{typeOfTableName}}</h1>
        </div>
    </div>

    <div class="row" *ngIf="coursesBool">
        <form class="col-sm-12" (ngSubmit)="onSubmitCourse()">
            <div class="row">
                <div class="input-field col-sm-6">
                    <input id="nameCourse" type="text" class="validate"
                           [(ngModel)]="courseName" name="name">
                    <label for="nameCourse">Name</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>

    <div class="row" *ngIf="topicsBool">
        <form class="col-sm-12" (ngSubmit)="onSubmitTopic()">
            <div class="row">
                <div class="input-field col-sm-6">
                    <input id="nameTopic" type="text" class="validate"
                           [(ngModel)]="topicName" name="name">
                    <label for="nameTopic">Name</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>

    <div class="row" *ngIf="groupsBool">
        <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#groupFormModal">
            New
        </button>
    </div>

    <div class="row" *ngIf="usersBool">
        <form class="col-sm-12" (ngSubmit)="onSubmitUser()">
            <div class="row">
                <div class="input-field col-sm-6">
                    <input id="enrollmentUser" type="text" class="validate"
                           [(ngModel)]="user.enrollment" name="enrollmentUser">
                    <label for="enrollmentUser">Enrollment</label>
                </div>
                <div class="input-field col-sm-6">
                    <input id="first_name" type="text" class="validate"
                           [(ngModel)]="user.first_name" name="first_name">
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-sm-6">
                    <input id="last_name" type="text" class="validate"
                           [(ngModel)]="user.last_name" name="last_name">
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col-sm-6">
                    <select id="userRole" class="form-control"
                            [(ngModel)]="user.role" name="userRole">
                        <option value="admin">admin</option>
                        <option value="professor">professor</option>
                        <option value="admin">student</option>
                    </select>
                    <label for="userRole">Role</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col-sm-6">
                    <input id="email" type="email" class="validate"
                           [(ngModel)]="user.email" name="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field col-sm-6">
                    <input id="password" type="password" class="validate"
                           [(ngModel)]="user.password" name="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </div>


    <div class="row">
        <div *ngIf="usersBool">
            Roles:
            <button (click)="filterInput.value='student'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Student
            </button>
            <button (click)="filterInput.value='professor'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Professor
            </button>
            <button (click)="filterInput.value='admin'" type="button" class="btn btn-primary btn-round-sm btn-sm">
                Admin
            </button>
        </div>
    </div>
</div>
<div class="center">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" placeholder="Search" #filterInput (keyup)="0"/>
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
        </div>
    </div>
</div>


<table class="table table-hover table-striped">
    <thead>
    <tr>
        <th *ngFor="let colName of columns">{{colName}}</th>
    </tr>
    </thead>
    <tbody *ngIf="problemsBool">
    <tr *ngFor="let entry of content | filterProblems: filterInput.value">
        <td>{{entry.value.name}}</td>
        <td *ngIf=" entry.value.difficulty == 1">Easy</td>
        <td *ngIf=" entry.value.difficulty == 2">Medium</td>
        <td *ngIf=" entry.value.difficulty == 3">Hard</td>
        <td>{{entry.value.active}}</td>
        <td>{{entry.value.changeStatus}}</td>
        <td>edit</td>
        <td>delete</td>
    </tr>
    </tbody>
    <tbody *ngIf="assignmentsBool">
    <tr *ngFor="let entry of content | filterAssignments: filterInput.value ">
        <td>{{entry.value.title}}</td>
        <td>{{entry.value.problem_name}}</td>
        <td>{{entry.value.course_name}}</td>
        <td *ngIf=" entry.value.difficulty == 1">Easy</td>
        <td *ngIf=" entry.value.difficulty == 2">Medium</td>
        <td *ngIf=" entry.value.difficulty == 3">Hard</td>
        <td>{{entry.value.due_date}}</td>
        <td *ngIf="entry.value.max_grade == 100">Yeah</td>
        <td *ngIf="entry.value.max_grade != 100">Nop</td>
    </tr>
    </tbody>
    <tbody *ngIf="submissionsBool">
    <tr *ngFor="let entry of content | filterSubmissions: filterInput.value">
        <td>{{entry.value.name}}</td>
        <td>{{entry.value.no_of_attempts}}</td>
        <td *ngIf="entry.value.max_grade == 100">Yeah</td>
        <td *ngIf="entry.value.max_grade != 100">Nop</td>

    </tr>
    <tbody *ngIf="assignmentSubmissionsBool">
    <tr *ngFor="let entry of content">
        <td>{{entry.enrollment}}</td>
        <td>{{entry.date}}</td>
        <td>{{entry.no_of_attempts}}</td>
        <td *ngIf="entry.value.max_grade == 100">Yeah</td>
        <td *ngIf="entry.value.max_grade != 100">Nop</td>
        <!--<td>{{entry.value.solved}}</td>-->
    </tr>
    </tbody>
    <tbody *ngIf="groupsBool">
    <tr *ngFor="let entry of content | filterGroups: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.course.name}}</td>
        <td>{{entry.value.period}}</td>
        <td><a class="btn btn-default" (click)="onSelectGroup(entry.value)" role="button">Show</a></td>
        <td><a class="btn btn-default red" (click)="onDeleteGroup(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="usersBool">
    <tr *ngFor="let entry of content | filterUsers: filterInput.value">
        <td>{{entry.value.enrollment}}</td>
        <td>{{entry.value.first_name}}</td>
        <td>{{entry.value.last_name}}</td>
        <td>{{entry.value.role}}</td>
        <td><a class="btn btn-default" (click)="onSelectUser(entry.value)" role="button">Show</a></td>
        <td><a class="btn btn-default red" (click)="onDeleteUser(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="coursesBool">
    <tr *ngFor="let entry of content | filterCourses: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.name}}</td>
        <td><a class="btn btn-default" (click)="onSelectCourse(entry.value)" role="button">Edit</a></td>
        <td><a class="btn btn-default btn-danger" (click)="onDeleteCourse(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
    <tbody *ngIf="topicsBool">
    <tr *ngFor="let entry of content | filterTopics: filterInput.value">
        <td>{{entry.value.id}}</td>
        <td>{{entry.value.name}}</td>
        <td><a class="btn btn-default" (click)="onSelectTopic(entry.value)" role="button">Edit</a></td>
        <td><a class="btn btn-default btn-danger" (click)="onDeleteTopic(entry.value)" role="button">Delete</a></td>
    </tr>
    </tbody>
</table>

<div *ngIf="groupsBool">
    <group-form [group]="group" [action]="'create'"></group-form>
</div>
