<app-site-navbar [hideDropdown]="true"></app-site-navbar>
<div class="container submit-code__component">
    <div class="content">

        <div class="submit-code__feedback-card">
            <feedback-card #feedbackCard></feedback-card>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-block">
                    <h2 class="block__title">{{descriptionTitle}}</h2>
                    <div class="">
                        <tabs (tabSelected)="assignActiveTab($event);">
                            <tab tabTitle="English">
                                <h4>Description:</h4>
                                <p class="white-space"><strong>{{descriptionEnglish}}</strong></p>
                        <span *ngFor="let case of testCases">
                            <h4>Input:</h4>
                            <p class="white-space">{{case.input}}</p>
                            <h4>Output:</h4>
                            <p class="white-space">{{case.output}}</p>
                        </span>

                            </tab>
                            <tab tabTitle="Español">
                                <h4>Description:</h4>
                                <p class="white-space"><strong>{{descriptionSpanish}}</strong></p>
                        <span *ngFor="let case of testCases">
                            <h4>Input:</h4>
                            <p class="white-space">{{case.input}}</p>
                            <h4>Output:</h4>
                            <p class="white-space">{{case.output}}</p>
                        </span>
                            </tab>
                        </tabs>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-block">
                    <h2 class="block__title">Problem Submission</h2>
                    <tabs #tabsVariable>
                        <tab tabTitle="New Attempt">
                            <div class="new-attempt">
                                <div class="dropdown-position">
                                    <!-- Languages -->
                                    <div class="row margin-top10">
                                        <div
                                                class="input-group col-sm-10 col-md-10 col-lg-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
                                            <select class="form-control select-prog-lang" id="selectorLanguages"
                                                    #selectedLanguage>
                                                <option *ngFor="let lang of supportedLanguages" [value]="lang.value">
                                                    {{lang.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <code-editor #codeEditor [setSourceCode]=""></code-editor>
                                <button type="button" class="btn btn-success submit-code-btn"
                                        (click)="codeToSubmitReceived(selectedLanguage.value)">Submit
                                </button>
                            </div>
                        </tab>
                        <tab *ngFor="let entry of attempts; let myIndex = index" tabTitle="Attempt {{3-myIndex}}">
                            <div *ngIf="entry.state == 'SubmissionState.evaluated'">
                                <p>Grade: {{entry.grade?entry.grade:"0"}}</p> <br/>
                                <p>Prog Language: {{entry.language?entry.language:"error"}}</p> <br/>
                                <div *ngIf="entry.grade != 100">
                                    <div *ngFor="let fb of entry.feedback_list">
                                        <p>Feedback: {{fb.feedback?fb.feedback:"error"}}</p>
                                        <p>Status: {{fb.status?fb.status:"error"}} </p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="entry.state == 'SubmissionState.pending'">
                                <h4 class="block__title">Problem is being evaluated ;)</h4>
                            </div>
                            <div *ngIf="entry.state == 'SubmissionState.compilation_error'">
                                <h4 class="block__title">Compilation error, maybe you missed something in your code
                                    :O</h4>
                            </div>
                            <div *ngIf="entry.state == 'SubmissionState.internal_server_error'">
                                <h4 class="block__title">Internal Server Error :/</h4>
                            </div>

                        </tab>
                        <button type="button" class="btn btn-primary btn-lg center" data-toggle="modal"
                                data-target="#myModal" (click)='loadCode()'>
                            See Attempt
                        </button>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close"><span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title">Attempt Code</h4>
                                    </div>
                                    <div class="modal-body">
                                        <code-editor #codeAttempt></code-editor>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </tabs>
                </div>
            </div>
        </div>
    </div>
</div>
