.dropdown-position{
    margin-bottom: 20px;
}

.new-attempt{
    margin-bottom: 50px;
}

.submit-code-btn{
    float: right;
}

.block__title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}