.dropdown-position{
    margin-bottom: 20px;
}

.new-attempt{
    margin-bottom: 50px;
}
.submit-code__feedback-card{
    padding-top: 25px;
}

.block__title{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.submit-code-btn{
    margin-top: 10px;
    float: right;
}

.submit-code__component{

    margin-top: 40px;
}

.select-prog-lang{
    width: 150px !important;
}

.attempt-content__title{
    font-family: inherit;
    font-size: large;
}
.attempt-content__subtitle{
    font-family: inherit;
    font-size: medium;
}

.attempt-content__status{
    font-family: inherit;
    font-size: small;
}
.btn-modal{
    margin-left: 40%;
}

.prog-label{
    margin-top: 10px;
    font-size: large;
}