<ul id="dropdownUser" class="dropdown-content">
  <li><a href="/profile">Profile</a></li>
  <li class="divider"></li>
  <li *ngFor="let role of roles">
    <a (click)="changeSelectedRole(role)">{{role}}</a>
  </li>
</ul>
<ul id="dropdownMobile" class="dropdown-content">
  <li><a href="/profile">Profile</a></li>
  <li class="divider"></li>
  <li *ngFor="let role of roles">
    <a (click)="changeSelectedRole(role)">{{role}}</a>
  </li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="" class="brand-logo" id='logo'>T247</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href='javascript:void(0);' dropdown data-hover="true" data-activates="dropdownUser">{{selectedRole}}<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a (click)="logout()" href="">Logout</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="dropdown-button-mobile" href='javascript:void(0);' dropdown data-hover="true" data-activates="dropdownMobile">{{selectedRole}}<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a (click)="logout()" href="">Logout</a></li>
    </ul>
  </div>
</nav>

<div class="container">
    <div class="content" [ngSwitch]="selectedRole">
        <div class="row" *ngSwitchCase="'admin'">
            <tabs>
                <tab tabTitle="Users">
                    <generic-table [typetable]="'users'"></generic-table>
                </tab>
                <tab tabTitle="Topics">
                    <generic-table [typetable]="'topics'"></generic-table>
                </tab>
                <tab tabTitle="Courses">
                    <generic-table [typetable]="'courses'"></generic-table>
                </tab>
                <tab tabTitle="Problems">
                    <generic-table [typetable]="'problems'"></generic-table>
                </tab>
                <tab tabTitle="Create Problem">
                    <create-problem></create-problem>
                </tab>
            </tabs>
        </div>
        <div class="row" *ngSwitchCase="'professor'">
            <tabs>
                <tab tabTitle="My Groups">
                    <generic-table [typetable]="'groups'"></generic-table>
                </tab>
                <tab tabTitle="Create Problem">
                    <create-problem></create-problem>
                </tab>
                <tab tabTitle="Topics">
                    <generic-table [typetable]="'topics'"></generic-table>
                </tab>
                <tab tabTitle="Problem">
                    <generic-table [typetable]="'problems'"></generic-table>
                </tab>
            </tabs>
        </div>
        <div class="row" *ngSwitchCase="'student'">
            <tabs>
                <tab tabTitle="My Assignments">
                    <generic-table [typetable]="'assignments'"></generic-table>
                </tab>
                <tab tabTitle="Topics Dashboard">
                    <app-topics-dashboard></app-topics-dashboard>
                </tab>
                <tab tabTitle="Submissions">
                    <generic-table [typetable]="'submissions'"></generic-table>
                </tab>
            </tabs>
        </div>
    </div>
</div>
