<app-site-navbar [availableRoles]="userRoles" [hideDropdown]="false"  [actualRole]="selectedRole" (clickedRole)="changeSelectedRole($event)" (callLogout)="logout()"></app-site-navbar>

<div class="container" style="margin-top: 80px">
  <div class="content" [ngSwitch]="selectedRole">
    <div class="row" *ngSwitchCase="'admin'">
      <tabs>
        <tab tabTitle="Users">
          <generic-table [typetable]="'users'"></generic-table>
        </tab>
        <tab tabTitle="Topics">
          <generic-table [typetable]="'topics'"></generic-table>
        </tab>
        <tab tabTitle="Courses">
          <generic-table [typetable]="'courses'"></generic-table>
        </tab>
        <tab tabTitle="Problems">
          <generic-table [typetable]="'problems'"></generic-table>
        </tab>
        <tab tabTitle="Create Problem">
          <create-problem></create-problem>
        </tab>
        <tab tabTitle="Problem information">
          <app-problem-details></app-problem-details>
        </tab>
      </tabs>
    </div>
    <div class="row" *ngSwitchCase="'professor'">
      <tabs>
        <tab tabTitle="My Groups">
          <generic-table [typetable]="'groups'"></generic-table>
          <!--<group></group>-->
        </tab>
        <tab tabTitle="Create Problem">
          <create-problem></create-problem>
        </tab>
        <tab tabTitle="Topics">
          <generic-table [typetable]="'topics'"></generic-table>
        </tab>
        <tab tabTitle="Problems">
          <generic-table [typetable]="'problems'"></generic-table>
        </tab>
      </tabs>
    </div>
    <div class="row" *ngSwitchCase="'student'">
      <tabs>
        <tab tabTitle="My Assignments">
            <generic-table [typetable]="'assignments'"></generic-table>
            <submit-problem></submit-problem>
        </tab>
        <tab tabTitle="Topics Dashboard">
          <app-topics-dashboard></app-topics-dashboard>
        </tab>
        <tab tabTitle="Submissions">
          <generic-table [typetable]="'submissions'"></generic-table>
        </tab>
      </tabs>
    </div>
  </div>
</div>
