<app-site-navbar [showDropdown]="true" [currentRole]="'professor'"></app-site-navbar>
<div class="body-submissions-of-assignment">
    <div class="row table-title-row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Submissions of Assignment</h1>
        </div>
    </div>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th >Attempt</th>
            <th >Grade</th>
            <th>Date of submission</th>
            <th>Show Code</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let element of table; let i = index">
            <td>{{element.first_name + ' ' + element.last_name}}</td>
            <td>{{i+1}}</td>
            <td>{{element.grade}}</td>
            <td>{{element.date}}</td>
            <td><button class="btn btn-primary" data-toggle="modal" href="#myModal" (click)="loadModal(element.code)">Show</button></td>
        </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Student attempt</h4>
                </div>
                <div class="modal-body">
                    <pre><code class="code-attempt"></code></pre>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
</div>
