.center-loading {
    padding-top: 20%;
    padding-left: 50%;
}
.center {
    margin-left: 50%;
}


#logo {
    padding-left: 30px;
}

footer {
    align-content: right;
}

#footer {
    border-top: thin solid #000000;
}

.main {
    padding-top: 10%;
    height: 100%;
}

.white-space{
    white-space: pre-wrap;
}

.right{

}

.btn-new{
    margin-right: 15px;
    margin-bottom: 40px;
}

.incorrect-test-box {
  background-color: #de4949;
}

a{
    cursor: pointer;
}
.card-shadow{

    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 20px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.card-shadow::hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}