<div class="container">
  <div class="row" *ngIf="this.topic">
    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="name" type="text" class="validate"
          [(ngModel)]="topic.name" name="name">
          <label for="name">Name</label>
        </div>
      </div>
      <a class="waves-effect waves-light btn" (click)="goBack()">Go Back</a>
      <button type="submit" class="btn btn-default">Edit</button>
    </form>
  </div>
</div>
