<!-- Nav bar component -->

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bit by Bit</a>
    </div>

    <ul class="nav navbar-nav navbar-right">

      <li *ngIf="showDropdown" class="dropdown">
        <a href="/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false"> {{currentRole | capitalize}} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/profile">Profile</a></li>
          <li class="divider"></li>
          <li *ngFor="let role of userRoles">
            <a (click)="testFunc(role)">{{role | capitalize}}</a>
          </li>
        </ul>
      </li>
      <li *ngIf="showDropdown"><a (click)="sendLogoutEvent()">Logout</a></li>

    </ul>

  </div>
</nav>

<!-- Nav bar component -->
