<div class="modal fade" id="assignmentFormModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
          <button type="button" class="close" (click)="clear()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{formTitle}}</h4>
        </div>
        <div class="modal-body">
          <div [formGroup]="assignmentForm">
            <div class="form-group" formGroupName="assignment">
              <div class="form-group">
                <label for="start_date">Start Date</label>
                <ng2-datepicker id="start_date" name="start_date" [options]="options" formControlName="startDate"></ng2-datepicker>
                <!--<vaadin-date-picker id="start_date" name="start_date" label="Pick a start date" formControlName="startDate"></vaadin-date-picker>-->
              </div>
              <div class="form-group">
                <label for="due_date">Due Date</label>
                <ng2-datepicker id="due_date" name="due_date" [options]="options" formControlName="dueDate"></ng2-datepicker>
                <!--<vaadin-date-picker id="due_date" name="due_date" label="Pick a due date" formControlName="dueDate"></vaadin-date-picker>-->
              </div>
              <div class="form-group">
                <label for="assignment_title">Title</label>
                <input id="assignment_title" formControlName="title" type="text" class="form-control"
                     aria-describedby="label_title" required>
              </div>
              <div class="form-group">
                <input id="assignment_group_id" formControlName="groupId" type="hidden" class="form-control"
                     aria-describedby="label_group" required>
              </div>
              <div class="form-group">
                <label for="assignment_group_id">Problem</label>
                <select class="form-control" id="assignment_problem_id" formControlName="problemId" aria-describedby="label_problem" required>
                  <option *ngFor="let p of (problems | sort)" [value]="p.id">{{p.name}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">Close</button>
          <button *ngIf="assignmentForm.valid" type="submit" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">{{submitText}}</button>
          <button *ngIf="assignmentForm.invalid" type="submit" class="btn btn-primary" disabled="disabled">{{submitText}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
